// ngx-chips tag input

.ngx-chips {
    .ng2-tag-input {
        border: 1px solid $border-color;
        .ng2-tags-container {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}